SecurityVision.SilverlightClient/Service References/SecurityVisionServiceReference/SecurityVisionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SecurityVisionService" elementFormDefault="qualified" targetNamespace="SecurityVisionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrderBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="OrderBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderBase" nillable="true" type="tns:OrderBase" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ProductDescriptorBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDescriptorBase" nillable="true" type="tns:ProductDescriptorBase" />
  <xs:complexType name="ProductDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProductDescriptorBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cost" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDescriptor" nillable="true" type="tns:ProductDescriptor" />
  <xs:complexType name="ProductBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductBase" nillable="true" type="tns:ProductBase" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProductBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductDescriptorId" type="xs:int" />
          <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfProductDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDescriptor" nillable="true" type="tns:ProductDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDescriptor" nillable="true" type="tns:ArrayOfProductDescriptor" />
</xs:schema>